@{
    ViewData["Title"] = "Chat";
}

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>

<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />

<div class="frame">
	<div class="sidepanel">
		<div class="profile" ng-controller="ProfileController">
			<div class="wrap">
				<img id="profile-img" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="online" alt="" />
				<p>{{profile.name}}</p>
			</div>
		</div>
		<div class="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts ..." ng-model="searchContacts" />
		</div>
		<div class="contacts" ng-controller="ContactController">
			<ul ng-if="isOpenContactList">
				<li class="contact" ng-repeat="user in userList | filter:searchContacts" ng-click="addContact(user.id)">
					<div class="wrap">
						<span class="contact-status"></span>
						<img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" />
						<div class="meta">
							<p class="name">{{user.name}}</p>
							<p class="email">{{user.email}}</p>
						</div>
					</div>
				</li>
			</ul>
			<ul ng-if="!isOpenContactList">
				<li class="contact" ng-repeat="user in users | filter:searchContacts" ng-click="openConversation(user.id, 'user')">
					<div class="wrap">
						<span class="contact-status" ng-class="{'online': user.status == 'ONLINE', 'offline': user.status == 'OFFLINE'}"></span>
						<img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" />
						<div class="meta">
							<p class="name" ng-class="{'font-weight-bold': user.last_message.id_user_to == profile.id && user.last_message.status == 0}">{{user.name}}</p>
							<p class="preview" ng-class="{'font-weight-bold': user.last_message.id_user_to == profile.id && user.last_message.status == 0}">{{user.last_message.content == '' ? "No message yet!" : user.last_message.content}}</p>
						</div>
					</div>
				</li>
				<li class="contact" ng-repeat="group in groups | filter:searchContacts" ng-click="openConversation(group.id, 'group')">
					<div class="wrap">
						<span class="contact-status" ng-class="{'online': group.status == 'ONLINE', 'offline': group.status == 'OFFLINE'}"></span>
						<img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" />
						<div class="meta">
							<p class="name" ng-class="{'font-weight-bold': group.last_message.seen_members.indexOf(profile.id) == -1 && group.last_message.status == 0}">{{group.name}}</p>
							<p class="preview" ng-class="{'font-weight-bold': group.last_message.seen_members.indexOf(profile.id) == -1 &&  group.last_message.status == 0}">{{group.last_message.content == '' ? "No message yet!" : group.last_message.content}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="bottom-bar" ng-controller="ContactController">
			<button ng-if="!isOpenContactList" ng-click="openContactList('')"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button ng-if="isOpenContactList" ng-click="openContactList('my')"><i class="fa fa-users fa-fw" aria-hidden="true"></i> <span>My contacts</span></button>
			<button><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content" ng-controller="ConversationController">
		<div class="contact-profile" ng-if="isOpenedConversation">
			<img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" />
			<p>{{typeConversation == 'user' ? userConversation.name : groupConversation.name}}</p>
		</div>
		<div class="messages">
			<ul>
				<li ng-repeat="message in messages" ng-class="{'replies': message.type == 'INCOME', 'sent': message.type == 'OUTCOME'}">
					<img ng-src="{{message.imgLink}}" />
					<p>{{message.content}}</p>
				</li>
			</ul>
		</div>
		<div class="message-input" ng-if="isOpenedConversation">
			<div class="wrap">
				<textarea placeholder="Write your message..." ng-model="message"></textarea>
				<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
				<button type="button" class="submit" ng-click="sendMessage(message);message=''"><i class="fa fa-paper-plane"></i></button>
			</div>
		</div>
	</div>
</div>

<script src="~/lib/angular.js/angular.min.js" asp-append-version="true"></script>
<script src="~/lib/microsoft-signalr/signalr.min.js" asp-append-version="true"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>